/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 17, 2021, 1:08:29 PM
    Author     : Cristian
*/
#titulo{
            -fx-font-family: "Arial";
            -fx-font-size: 30px;
            -fx-font-style: italic;
            -fx-font-weight: bold;
            -fx-text-fill: #000000;
            -fx-background-color: limegreen;
}

#panel{-fx-background-color: blue}

.button{    -fx-font-family: "Times New Roman";
            -fx-font-size: 28px;
            -fx-text-fill: black;
            -fx-font-style: italic;
            
            -fx-background-radius: 5px;
            -fx-background-color: lightgray;
            -fx-border-with: 2px;
            -fx-border-radius: 5px;
            -fx-border-color: lightgray;
                        
}

.button:hover{ -fx-background-color: grey;
               -fx-border-color: grey;
                 
}

.button:pressed{
        -fx-font-weight: bold;
}